In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Derzhavinsk,KZ,2022-03-29 20:06:37,51.1000,66.3167,30.38,94,100,31.76
1,1,Jamestown,US,2022-03-29 20:06:37,42.0970,-79.2353,32.02,43,0,11.50
2,2,Vaini,TO,2022-03-29 20:06:38,-21.2000,-175.2000,78.96,78,20,2.30
3,3,Tommot,RU,2022-03-29 20:06:38,58.9564,126.2925,-1.84,99,99,1.63
4,4,Port Alfred,ZA,2022-03-29 20:06:38,-33.5906,26.8910,69.19,92,96,5.99

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Vaini,TO,2022-03-29 20:06:38,-21.2000,-175.2000,78.96,78,20,2.30
7,7,Rikitea,PF,2022-03-29 20:06:39,-23.1203,-134.9692,77.83,69,56,5.48
13,13,Puerto Gaitan,CO,2022-03-29 20:06:42,4.3133,-72.0816,80.01,74,99,3.69
14,14,Neiafu,TO,2022-03-29 20:06:44,-18.6500,-173.9833,83.08,78,40,6.91
19,19,San Cristobal,VE,2022-03-29 20:06:46,7.7669,-72.2250,78.98,60,58,5.26
...,...,...,...,...,...,...,...,...,...,...
575,575,Panji,ID,2022-03-29 20:22:52,-7.7253,114.0995,75.43,87,100,3.80
577,577,Honiara,SB,2022-03-29 20:22:53,-9.4333,159.9500,78.58,85,95,4.03
585,585,Cap Malheureux,MU,2022-03-29 20:22:56,-19.9842,57.6142,76.46,78,1,3.00
588,588,Kudahuvadhoo,MV,2022-03-29 20:22:58,2.6708,72.8944,81.57,72,0,5.35
589,589,Karratha,AU,2022-03-29 20:22:58,-20.7377,116.8463,80.31,74,63,2.77

In [16]:
preferred_cities_df.count()

City_ID       180
City          180
Country       179
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [17]:
preferred_cities_df = preferred_cities_df.dropna()

In [18]:
preferred_cities_df.count()

City_ID       179
City          179
Country       179
Date          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

               City Country  Max Temp      Lat       Lng Hotel Name
2             Vaini      TO     78.96 -21.2000 -175.2000
7           Rikitea      PF     77.83 -23.1203 -134.9692
13    Puerto Gaitan      CO     80.01   4.3133  -72.0816
14           Neiafu      TO     83.08 -18.6500 -173.9833
19    San Cristobal      VE     78.98   7.7669  -72.2250
..              ...     ...       ...      ...       ...        ...
575           Panji      ID     75.43  -7.7253  114.0995
577         Honiara      SB     78.58  -9.4333  159.9500
585  Cap Malheureux      MU     76.46 -19.9842   57.6142
588    Kudahuvadhoo      MV     81.57   2.6708   72.8944
589        Karratha      AU     80.31 -20.7377  116.8463

[179 rows x 6 columns]

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
7,Rikitea,PF,77.83,-23.1203,-134.9692,People ThankYou
13,Puerto Gaitan,CO,80.01,4.3133,-72.0816,Brisas del Yucao
14,Neiafu,TO,83.08,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
19,San Cristobal,VE,78.98,7.7669,-72.2250,Pirineos
...,...,...,...,...,...,...
575,Panji,ID,75.43,-7.7253,114.0995,Rumah eni
577,Honiara,SB,78.58,-9.4333,159.9500,Heritage Park Hotel
585,Cap Malheureux,MU,76.46,-19.9842,57.6142,Pereybere Hotel & Spa
588,Kudahuvadhoo,MV,81.57,2.6708,72.8944,Niyama Private Islands Maldives
589,Karratha,AU,80.31,-20.7377,116.8463,ibis Styles Karratha

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))